@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .modal-slide {
    @apply transition-transform duration-300 ease-out;
  }

  .modal-show {
    @apply opacity-100 translate-y-0;
  }

  .modal-hide {
    @apply opacity-0 -translate-y-20;
  }

  .viewallstaff {
    @apply transition-opacity duration-300 ease-out;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(9px);
  }

  .glassmorphiem-addcomment {
    @apply transition-transform duration-300 ease-out transform  bg-black/50;
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
  }
}
